.loadingContainer{
    width: 100px;
    height: 100px;
    background-image: url(../../assets/image/Spinner-1s-200px.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}